build/top_critics.html
<!DOCTYPE html>
<html>
  <head>
    <title>Artwork</title>
    <meta name="description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta name="keywords" content="artwork, дизайн, критика, фидбэк">
    <meta name="author" content="Artwork">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Artwork">
    <meta property="og:title" content="Artwork">
    <meta property="og:description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta property="og:url" content="https://artwork.pro">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://artwork.pro/og_banner.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Artwork">
    <meta name="twitter:description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta name="twitter:image:src" content="https://artwork.pro/og_banner.jpg">
    <meta name="twitter:url" content="https://artwork.pro">
    <meta name="twitter:domain" content="artwork.pro">
    <meta name="twitter:site" content="Artwork">
    <meta name="twitter:creator" content="Artwork">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="css/style.css">
  </head>
</html>
<body>
  <div id="upload_work" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="work_upload">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="work_decr">ВВЕДИТЕ ОПИСАНИЕ РАБОТЫ</label>
              <textarea id="work_descr" name="work_descr" required="" minlength="50" maxlength="400" class="form-control"></textarea>
              <div id="dropzone">
                <div data-dz-message="" class="dz-message"><span><i class="icon chapter_iconsupload"></i><br>ПЕРЕТАЩИТЕ ФАЙЛ СЮДА<br><span class="or">ИЛИ </span><br><a href="#" class="choose_file">ВЫБЕРИТЕ ИЗ КАТАЛОГА</a></span></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="notification-trigger" type="submit" class="progress-button btn btn-primary center-block text-center caps"><span class="content">Выложить работу</span><span class="progress"></span></button>
            <div id="notification-upload"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"> <img src="img/logo.svg"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="unclickable visible-xs"><a id="user_info"> <img src="img/avatar.png" class="avatar"><span>Шутов Алексей</span></a></li>
          <li class="active"><a href="#">Все работы</a></li>
          <li><a href="#">Мои работы</a></li>
          <li class="blue visible-xs"><a href="#" data-toggle="modal" data-target="#upload_work">Добавить работу</a></li>
          <li class="visible-xs"><a id="open-button" href="#" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="open-button">Уведомления</a>
            <div class="alarm blink_slow">
              <div class="alarm_wrapper blink"><i class="icon chapter_iconsalarm"></i></div>
            </div>
          </li>
          <li class="visible-xs"><a href="#">Выход</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="#" data-toggle="modal" data-target="#upload_work" class="add_work"><span class="add_but">+</span>добавить работу</a></li>
          <li><a id="user_info" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" data-content="&lt;span class=&quot;tooltip_text&quot;&gt;Шутов Алексей&lt;/span&gt;"> <img src="img/avatar.png" class="avatar"></a></li>
          <li class="recent_information"><a id="open-button" href="#" class="open-button">
              <div class="alarm blink_slow">
                <div class="alarm_wrapper blink"><i class="icon chapter_iconsalarm"></i></div>
              </div></a></li>
          <li><a href="#"><i class="icon chapter_iconsturn-off"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="menu-wrap">
    <div class="switcher pull-right">
      <input type="checkbox" checked="false" class="js-switch">
    </div>
    <p class="white">Уведомления включены</p>
    <hr>
    <div class="media">
      <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
      <div class="media-body">
        <h4 class="media-heading">Артём Абзанов</h4>Оценил вашу работу
      </div>
    </div>
    <div class="media">
      <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
      <div class="media-body">
        <h4 class="media-heading">Кристина Юдина</h4>Оставила комментарий к вашей работе
      </div>
    </div>
    <div class="media">
      <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
      <div class="media-body">
        <h4 class="media-heading">Артём Абзанов</h4>Оценил вашу работу
      </div>
    </div>
    <div class="media">
      <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
      <div class="media-body">
        <h4 class="media-heading">Кристина Юдина</h4>Посчитала ваш комментарий полезным
      </div>
      <hr class="visible-xs-block">
      <div id="close-button" class="btn btn-primary center-block text-center caps switcher visible-xs-block">Закрыть
        <!-- Begin page content-->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="critics">
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/small_avatar.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Артем Абзанов</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="4.5" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">34</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">564</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots"></div>
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/small_avatar2.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Кристина Юдина</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="4" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">27</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">481</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots"></div>
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/avatar.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Алексей Шутов</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="3.5" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">23</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">429</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots"></div>
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/small_avatar.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Артем Абзанов</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="3" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">25</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">327</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots"></div>
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/small_avatar2.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Кристина Юдина</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="3" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">14</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">200</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots"></div>
        <div class="critic_item">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left media-top"><a href="#"><img src="img/avatar.png"></a></div>
              <div class="media-body">
                <div class="critic_wrapper">
                  <h4 class="media-heading name">Кристина Юдина</h4>
                  <div class="rating">
                    <input type="hidden" disabled="disabled" value="2.5" data-filled="fa fa-star fa-4x" data-empty="fa fa-star-o fa-4x" data-fractions="2" class="rating-tooltip-manual">
                  </div>
                </div>
                <div class="stats pull-right">
                  <div class="answers">Всего ответов: <span class="value">7</span></div>
                  <div class="thanks">Всего поблагодарили: <span class="value">102</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted text-center"><strong>ARTWORK © 2016.</strong>Все работы принадлежат их непосредственным владельцам.</p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
</body>

assets/template/top_critics.jade
doctype html
html
      include ./includes/head.jade
  body
      include ./includes/modal.jade
      include ./includes/header.jade
      include ./includes/notification_panel.jade
      
        // Begin page content
      .container
        .row
            .critics
                .critic_item
                    .col-md-12
                        .media
                            .media-left.media-top
                                a(href='#')
                                  img(src='img/small_avatar.png')
                            .media-body
                                .critic_wrapper
                                    h4.media-heading.name Артем Абзанов
                                    .rating
                                        input.rating-tooltip-manual(type='hidden', disabled='disabled', value='4.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                .stats.pull-right
                                    .answers
                                        Всего ответов: 
                                        span.value 34
                                    .thanks
                                        Всего поблагодарили: 
                                        span.value 564
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='4', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 27
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 481
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Алексей Шутов
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 23
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 429
                .dots
                .critic_item
                    .col-md-12
                        .media
                            .media-left.media-top
                                a(href='#')
                                  img(src='img/small_avatar.png')
                            .media-body
                                .critic_wrapper
                                    h4.media-heading.name Артем Абзанов
                                    .rating
                                        input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                .stats.pull-right
                                    .answers
                                        Всего ответов: 
                                        span.value 25
                                    .thanks
                                        Всего поблагодарили: 
                                        span.value 327
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='3', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 14
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 200
                .dots
                .critic_item
                        .col-md-12
                            .media
                                .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                .media-body
                                    .critic_wrapper
                                        h4.media-heading.name Кристина Юдина
                                        .rating
                                            input.rating-tooltip-manual(type='hidden', disabled='disabled', value='2.5', data-filled='fa fa-star fa-4x', data-empty='fa fa-star-o fa-4x', data-fractions='2')
                                    .stats.pull-right
                                        .answers
                                            Всего ответов: 
                                            span.value 7
                                        .thanks
                                            Всего поблагодарили: 
                                            span.value 102

      include ./includes/footer.jade
