assets/template/work.jade
doctype html
html
      include ./includes/head.jade
  body
    #content
          include ./includes/modal.jade
          include ./includes/comment_modal.jade
          include ./includes/confirm_modal.jade
          include ./includes/header.jade
          include ./includes/photoswipe.jade
          .content_main
            .container.content-wrap
              .loader
              #work_itself
                .row
                    .col-lg-4.col-lg-push-8.col-md-4.col-md-push-8.col-xs-12
                        .work_info
                            .border
                            .media
                              .media-left.media-top
                                a(href='#')
                                  img(src='img/avatar.png')
                              .media-body
                                h4.media-heading.name Алексей Шутов
                                span.date 24 МАЯ В 23:15
                            .dots
                            a.btn.btn-success.text-center.caps.full-block.visible-xs-block Показать описание
                            .inform_block
                                .task_text
                                    Задача: разработка логотипа для компании, которая занимается проектировкой и постройкой грузовиков и автомобилей класса offroad. На фото - их проекты, которые были выпущены в свет в 2016 году. Также парни занимаются доработкой, дооснащением на основе готовых решений, разборкой и продажами запчастей для внедорожников, привозом разного тюнинга с Америки, Европы и Японии, в общем всем, что связано с внедорожниками соревновательного и гражданского уровня.
                                .dots
                                .actions
                                    a(href='#').edit.btn.btn-primary.text-center.caps 
                                        i.icon.chapter_iconspencil 
                                    a(href="#", data-toggle='modal', data-target='#confirm').delete.btn.btn-danger.text-center.caps 
                                        i.icon.chapter_iconsdelete
                    .col-lg-8.col-lg-pull-4.col-md-8.col-md-pull-4.col-xs-12
                        .work_desk
                            .h_work
                                img(src='img/work.jpg').work_image.hidden-xs
                                img(src='img/work.jpg').work_image.visible-xs-block#work_pic
                                .work_head
                                    .short_info
                                        a.inline-block.v-middle.info_block.views
                                            i.icon.chapter_iconsview 
                                            span 342

                                        .inline-block.v-middle.separator

                                        a.inline-block.v-middle.info_block.likes
                                            button.icobutton.icobutton--heart
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 105

                                        .inline-block.v-middle.separator

                                        a.inline-block.v-middle.info_block.comments
                                            i.icon.chapter_iconschat
                                            span 903
                            .add_mark
                                a(data-toggle='collapse' href='#comment_form' aria-expanded='false' aria-controls='comment_form')#open_form.add_m.btn.btn-primary.text-center.caps Оставить комментарий
                                a(data-toggle='modal' data-target='#edit_work').add_m.btn.btn-success.text-center.caps Указать на работе
                                
                                .collapse#comment_form 
                                    form
                                      .form-group
                                        textarea.form-control(placeholder='Введите текст комментария')
                                      button.btn.ghost_button.caps.pull-right(type='reset') Отмена
                                      button#leave_comment.btn.btn-primary.text-center.caps.pull-right(type='submit') Отправить
                                      .clearfix
                            .comments.pad
                                //p.text-center.center-block.mute Пока нет комментариев к данной работе. Станьте первым!//
                                .media
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar.png')
                                  .media-body
                                    h4.media-heading.name Артём Абзанов
                                        span.comment_date 2 ЧАСА НАЗАД
                                    span.comment
                                        Нужно полностью поменять все шрифты. Один шрифт на весь лендинг это очень плохо. Выбранный шрифт с натяжкой подойдет только для заголовков. Основной текст слишком крупный. Плюс постоянные картинки на фонах тоже все очень ухудшают. И обязательно узнай что такое bootstrap-сетка.
                                    .com_likes
                                        button.icobutton.icobutton--heart.inline-block
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 6
                                        a(data-toggle='modal' data-target='#commented_people').show_all 
                                            ПОСМОТРЕТЬ ВСЕХ
                                .media
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/small_avatar2.png')
                                  .media-body
                                    h4.media-heading.name Алина Федосеенко
                                        span.comment_date 3 ЧАСА НАЗАД
                                    span.comment
                                        Олег, ты задаешь весьма глупый вопрос. Но я объясню. Недопустимо делать макет страницы без сетки. Ведь существует масштаирование и нужно продумать как будет перестраиваться контент на странице. Бутстрап сетка самая распространенная и простая в использовании. Поэтому именно с нее и нужно начинать всю работу над веб-страницей. Разумеется можно создавать и свою собственную сетку, но только если ты и верстальщик достаточно профессиональны в своем деле.
                                    .com_likes
                                        button.icobutton.icobutton--heart.yours.inline-block
                                              i.fa.fa-heart
                                              span.icobutton__text.icobutton__text--side 6
                                        a(data-toggle='modal' data-target='#commented_people').show_all 
                                            ПОСМОТРЕТЬ ВСЕХ
                                 .media.sys
                                  .media-left.media-top
                                    a(href='#')
                                      img(src='img/avatar.png')
                                  .media-body
                                    h4.media-heading.name Алексей Шутов
                                        span.comment_date ВЧЕРА В 15:32
                                    .point_comments.pull-right 
                                        a(href='#')
                                            span 4
                                            img(src='img/comments_i.svg')
                                    .system_info
                                        i Порекомендовал изменения на работе…    
                                        a(data-toggle='modal' data-target='#edit_work') Посмотреть 
                                        
            include ./includes/edit_work.jade
          include ./includes/footer.jade

public/work.html
<!DOCTYPE html>
<html>
  <head>
    <title>Artwork</title>
    <meta name="description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta name="keywords" content="artwork, дизайн, критика, фидбэк">
    <meta name="author" content="Artwork">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Artwork">
    <meta property="og:title" content="Artwork">
    <meta property="og:description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta property="og:url" content="https://artwork.pro">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://artwork.pro/og_banner.jpg">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Artwork">
    <meta name="twitter:description" content="Artwork позволяет делиться частью проекта в интернете перед тем, как вы покажите его клиенту. Это шанс провести быстрое черновое тестирование, а также способ оценить реакцию с минимальным риском.">
    <meta name="twitter:image:src" content="https://artwork.pro/og_banner.jpg">
    <meta name="twitter:url" content="https://artwork.pro">
    <meta name="twitter:domain" content="artwork.pro">
    <meta name="twitter:site" content="Artwork">
    <meta name="twitter:creator" content="Artwork">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="css/style.css">
  </head>
</html>
<body>
  <div id="content">
    <div id="upload_work" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="work_upload">
            <div class="modal-header">
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="work_decr">ВВЕДИТЕ ОПИСАНИЕ РАБОТЫ</label>
                <textarea id="work_descr" name="work_descr" required="" minlength="50" maxlength="400" class="form-control"></textarea>
                <div id="dropzone">
                  <div data-dz-message="" class="dz-message"><span><i class="icon chapter_iconsupload"></i><br>ПЕРЕТАЩИТЕ ФАЙЛ СЮДА<br><span class="or">ИЛИ </span><br><a href="#" class="choose_file">ВЫБЕРИТЕ ИЗ КАТАЛОГА</a></span></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="notification-trigger" type="submit" class="progress-button btn btn-primary center-block text-center caps"><span class="content">Выложить работу</span><span class="progress"></span></button>
              <div id="notification-upload"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="commented_people" tabindex="-1" role="dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <div class="row people">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"><span>
                     
                    Олег </span><span>
                     
                    Пличко</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"><span>
                     
                    Роман </span><span>Кихтенко</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg"><span>
                     
                    Артем </span><span>Понкратов</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg"><span>
                     
                    Владислава </span><span>Моррис</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg"><span>
                     
                    Алексей </span><span>Морозов</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg"><span>
                     
                    Екатерина </span><span>
                     
                    Пупкина</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg"><span>
                     
                    Сергей </span><span>
                     
                    Кожевников</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg"><span>
                     
                    Ольга </span><span>
                     
                    Зорина</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg"><span>
                     
                    Олег </span><span>
                     
                    Пличко</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"><span>
                     
                    Роман </span><span>Кихтенко</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg"><span>
                     
                    Артем </span><span>Понкратов</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg"><span>
                     
                    Владислава </span><span>Моррис</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg"><span>
                     
                    Алексей </span><span>Морозов</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg"><span>
                     
                    Екатерина </span><span>
                     
                    Пупкина</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg"><span>
                     
                    Сергей </span><span>
                     
                    Кожевников</span></a></div>
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12"><a href="#" class="commented_person"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg"><span>
                     
                    Ольга </span><span>
                     
                    Зорина</span></a></div>
            </div>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-primary center-block text-center caps">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
    <div id="confirm" tabindex="-1" role="dialog" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить эту работу <br>и все комментарии к ней?</p>
            <hr>
            <div class="centered_btns"><a class="btn btn_primary">Удалить</a><a data-dismiss="modal" class="btn ghost_button">Отмена</a></div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>
    <!-- /.modal-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"> <img src="img/logo.svg"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="unclickable visible-xs"><a id="user_info"> <img src="img/avatar.png" class="avatar"><span>Шутов Алексей</span></a></li>
            <li class="active"><a href="#">Все работы</a></li>
            <li><a href="#">Мои работы</a></li>
            <li class="blue visible-xs"><a href="#" data-toggle="modal" data-target="#upload_work">Добавить работу</a></li>
            <li class="visible-xs"><a id="open-button" href="#" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="open-button">Уведомления</a>
              <div class="alarm blink_slow">
                <div class="alarm_wrapper blink"><i class="icon chapter_iconsalarm"></i></div>
              </div>
            </li>
            <li class="visible-xs"><a href="#">Выход</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a href="#" data-toggle="modal" data-target="#upload_work" class="add_work"><span class="add_but">+</span>добавить работу</a></li>
            <li><a id="user_info" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true" data-content="&lt;span class=&quot;tooltip_text&quot;&gt;Шутов Алексей&lt;/span&gt;"> <img src="img/avatar.png" class="avatar"></a></li>
            <li class="recent_information"><a id="open-button" href="#" class="open-button">
                <div class="alarm blink_slow">
                  <div class="alarm_wrapper blink"><i class="icon chapter_iconsalarm"></i></div>
                </div></a></li>
            <li><a href="#"><i class="icon chapter_iconsturn-off"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Root element of PhotoSwipe. Must have class pswp.-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <!--
      Background of PhotoSwipe.
      It's a separate element as animating opacity is faster than rgba().
      -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden.-->
      <div class="pswp__scroll-wrap">
        <!--
        Container that holds slides.
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on.
        -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.-->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!-- Controls are self-explanatory. Order can be changed.-->
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <!--button.pswp__button.pswp__button--share(title='Share')-->
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR-->
            <!-- element will get class pswp__preloader--active when preloader is running-->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content_main">
      <div class="container content-wrap">
        <div class="loader"></div>
        <div id="work_itself">
          <div class="row">
            <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-xs-12">
              <div class="work_info">
                <div class="border"></div>
                <div class="media">
                  <div class="media-left media-top"><a href="#"><img src="img/avatar.png"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading name">Алексей Шутов</h4><span class="date">24 МАЯ В 23:15</span>
                  </div>
                </div>
                <div class="dots"></div><a class="btn btn-success text-center caps full-block visible-xs-block">Показать описание</a>
                <div class="inform_block">
                  <div class="task_text">Задача: разработка логотипа для компании, которая занимается проектировкой и постройкой грузовиков и автомобилей класса offroad. На фото - их проекты, которые были выпущены в свет в 2016 году. Также парни занимаются доработкой, дооснащением на основе готовых решений, разборкой и продажами запчастей для внедорожников, привозом разного тюнинга с Америки, Европы и Японии, в общем всем, что связано с внедорожниками соревновательного и гражданского уровня.</div>
                  <div class="dots"></div>
                  <div class="actions"><a href="#" class="edit btn btn-primary text-center caps"> <i class="icon chapter_iconspencil"> </i></a><a href="#" data-toggle="modal" data-target="#confirm" class="delete btn btn-danger text-center caps"> <i class="icon chapter_iconsdelete"></i></a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-xs-12">
              <div class="work_desk">
                <div class="h_work"><img src="img/work.jpg" class="work_image hidden-xs"><img src="img/work.jpg" id="work_pic" class="work_image visible-xs-block">
                  <div class="work_head">
                    <div class="short_info"><a class="inline-block v-middle info_block views"><i class="icon chapter_iconsview"> </i><span>342</span></a>
                      <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block likes">
                        <button class="icobutton icobutton--heart"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side">105</span></button></a>
                      <div class="inline-block v-middle separator"></div><a class="inline-block v-middle info_block comments"><i class="icon chapter_iconschat"></i><span>903</span></a>
                    </div>
                  </div>
                </div>
                <div class="add_mark"><a data-toggle="collapse" href="#comment_form" aria-expanded="false" aria-controls="comment_form" id="open_form" class="add_m btn btn-primary text-center caps">Оставить комментарий</a><a data-toggle="modal" data-target="#edit_work" class="add_m btn btn-success text-center caps">Указать на работе</a>
                  <div id="comment_form" class="collapse"> 
                    <form>
                      <div class="form-group">
                        <textarea placeholder="Введите текст комментария" class="form-control"></textarea>
                      </div>
                      <button type="reset" class="btn ghost_button caps pull-right">Отмена</button>
                      <button id="leave_comment" type="submit" class="btn btn-primary text-center caps pull-right">Отправить</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
                <div class="comments pad">
                  <!--p.text-center.center-block.mute Пока нет комментариев к данной работе. Станьте первым!//-->
                  <div class="media">
                    <div class="media-left media-top"><a href="#"><img src="img/small_avatar.png"></a></div>
                    <div class="media-body">
                      <h4 class="media-heading name">Артём Абзанов<span class="comment_date">2 ЧАСА НАЗАД</span></h4><span class="comment">Нужно полностью поменять все шрифты. Один шрифт на весь лендинг это очень плохо. Выбранный шрифт с натяжкой подойдет только для заголовков. Основной текст слишком крупный. Плюс постоянные картинки на фонах тоже все очень ухудшают. И обязательно узнай что такое bootstrap-сетка.</span>
                      <div class="com_likes">
                        <button class="icobutton icobutton--heart inline-block"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side">6</span></button><a data-toggle="modal" data-target="#commented_people" class="show_all">
                           
                          ПОСМОТРЕТЬ ВСЕХ</a>
                      </div>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left media-top"><a href="#"><img src="img/small_avatar2.png"></a></div>
                    <div class="media-body">
                      <h4 class="media-heading name">Алина Федосеенко<span class="comment_date">3 ЧАСА НАЗАД</span></h4><span class="comment">Олег, ты задаешь весьма глупый вопрос. Но я объясню. Недопустимо делать макет страницы без сетки. Ведь существует масштаирование и нужно продумать как будет перестраиваться контент на странице. Бутстрап сетка самая распространенная и простая в использовании. Поэтому именно с нее и нужно начинать всю работу над веб-страницей. Разумеется можно создавать и свою собственную сетку, но только если ты и верстальщик достаточно профессиональны в своем деле.</span>
                      <div class="com_likes">
                        <button class="icobutton icobutton--heart yours inline-block"><i class="fa fa-heart"></i><span class="icobutton__text icobutton__text--side">6</span></button><a data-toggle="modal" data-target="#commented_people" class="show_all">
                           
                          ПОСМОТРЕТЬ ВСЕХ</a>
                      </div>
                    </div>
                  </div>
                  <div class="media sys">
                    <div class="media-left media-top"><a href="#"><img src="img/avatar.png"></a></div>
                    <div class="media-body">
                      <h4 class="media-heading name">Алексей Шутов<span class="comment_date">ВЧЕРА В 15:32</span></h4>
                      <div class="point_comments pull-right"> <a href="#"><span>4</span><img src="img/comments_i.svg"></a></div>
                      <div class="system_info"><i>Порекомендовал изменения на работе…    </i><a data-toggle="modal" data-target="#edit_work">Посмотреть </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="edit_work" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal modal-fullscreen fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div id="planit"></div>
              <div class="user_tips">
                <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span></button>
                <div class="clearfix"></div>
                <div class="media active">
                  <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Артём Абзанов</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Кристина Юдина</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Артём Абзанов</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Кристина Юдина</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Артём Абзанов</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Кристина Юдина</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Артём Абзанов</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left"><a href="#"><img src="img/small_avatar2.png" class="media-object"></a></div>
                  <div class="media-body">
                    <h4 class="media-heading">Кристина Юдина</h4><span class="marker-date">24 апр в 23:17</span>
                    <div class="tips_counter"><span>4</span><img src="img/comments_i.svg"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center"><strong>ARTWORK © 2016.</strong>Все работы принадлежат их непосредственным владельцам.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </div>
</body>
